<div class="card card-main" style="height:auto;">
    <div class="card-body">
        <a href="#"><i class="fa fa-arrow-circle-o-left" area-hidden="true">Go</i></a>
          <h2 class="card-title">withdraw Inquiry IPO Order</h2>
    </div>
    <div class="row number">
      <div class="col-md-3">
          <div class="">
            <a class="number_1" href="#">1</a>
            <span class="line"></span>
            <p class="name_1">Enter Details</p>
          </div>
      </div>
      <div class="col-md-3">
          <a class="number_1 "href="#">2</a>
              <span class="line"></span>
          <p class="name_1">Confirm Details</p>
      </div>
      <div class="col-md-3">
          <a class="number_1 "href="#">3</a>
              <span class="line"></span>
          <p class="name_1">Enter OTP</p>
      </div>
      <div class="col-md-3">
          <a class="number_1 "href="#">4</a>
          <p class="name_1">Reciept</p>
      </div>
    </div>
    <div class="row">
        <div class="col-md-8 msg">
          <p class="msg-des">Your order will be withdrawn from Capital India Finance.</p>
        </div>
    </div>
    <investor-details></investor-details>
    <bid-details></bid-details>
    <capital-india-finance></capital-india-finance>

    <div class="row termAcceptance">
      <div class="col-md-1">
          <input class="checkboxName"  type="checkbox" name="active">
      </div>
      <div>
        <p class="msg_Declaimer">i have Read the Declaimer & accept all the <span class="termAndCondition">Terms & Condition</span></p>
      </div>
    </div>
    <div class="row">
      <button class="btn btn-danger">PROCEED</button>
    </div>
</div>
