<div class="container">
    <div class="heading">
        <h3>Apply for Debt IPO</h3>
    </div>
    <mat-horizontal-stepper labelPosition="bottom">
        <mat-step label="Enter Details" completed="false">
            <form>
                <div class="selectDetailHeading">
                    <h5>Select Your Details</h5>
                    <hr class="hrLine">
                </div>
                <div class="row ">
                    <div class="col-md-3">
                        <label for="selectInvestor">Select Investor</label>
                    </div>
                    <div class="col-md-4">
                        <mat-select name="" id="">
                            <!-- <mat-option *ngFor = "let v of selectInvestor">{{v}}</mat-option> -->
                            <mat-option value="">Shruti Shetty</mat-option>
                            <mat-option value="">Sainath Kannake</mat-option>
                        </mat-select>
                    </div>
                    <div class="col-md-3">
                        <p>View Investor Details</p>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-3">
                        <label for="selectInvestor">Investor Category</label>
                    </div>
                    <div class="col-md-4">
                        <mat-select name="" id="">
                            <mat-option value="">Employees</mat-option>
                            <mat-option value="">Employees</mat-option>
                        </mat-select>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-3">
                        <label for="selectInvestor">Debit Account Number</label>
                    </div>
                    <div class="col-md-4">
                        <mat-select name="" id="">
                            <mat-option value="">Saving-xxxxxxxxxxx7485</mat-option>
                            <mat-option value="">Current-xxxxxxxxxx8569</mat-option>
                        </mat-select>
                    </div>
                    <div class="col-md-3">
                        <p>Rupee 1,00,000.00</p>
                    </div>
                </div>
                <div class="bid-details">
                    <div class="bidDetailHeading">
                        <p>Select Your Details</p>
                        <hr class="hrLine">
                    </div>
                    <div class="card">
                        <div class="row">
                            <div class="col-md-1">Series</div>
                            <div class="col-md-3">Series Details</div>
                            <div class="col-md-2">Price</div>
                            <div class="col-md-2">Apply For</div>
                            <div class="col-md-2">Bid Quantity</div>
                            <div class="col-md-2">Bid Price</div>
                        </div>
                        <div class="row">
                            <div class="col-md-1">S1</div>
                            <div class="col-md-3">
                                <p>9.6%- Terror 36 <br>Months and Annual</p>
                            </div>
                            <div class="col-md-2">250.00</div>
                            <div class="col-md-2">
                                <mat-checkbox checked="true" class="checkboxvalue"></mat-checkbox>
                            </div>
                            <div class="col-md-2">
                                <p>10</p>
                                <hr class="hrLine">
                            </div>
                            <div class="col-md-2">
                                <p>2,000.00</p>
                                <hr class="hrLine">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-1">S2</div>
                            <div class="col-md-3">
                                <p>9.6%- Terror 36 <br>Months and Annual</p>
                            </div>
                            <div class="col-md-2">250.00</div>
                            <div class="col-md-2">
                                <mat-checkbox checked="true" class="checkboxvalue"></mat-checkbox>
                            </div>
                            <div class="col-md-2">
                                <p>10</p>
                                <hr class="hrLine">
                            </div>
                            <div class="col-md-2">
                                <p>2,000.00</p>
                                <hr class="hrLine">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-1">S3</div>
                            <div class="col-md-3">
                                <p>9.6%- Terror 36 <br>Months and Annual</p>
                            </div>
                            <div class="col-md-2">250.00</div>
                            <div class="col-md-2">
                                <mat-checkbox checked="true" class="checkboxvalue"></mat-checkbox>
                            </div>
                            <div class="col-md-2">
                                <p>10</p>
                                <hr class="hrLine">
                            </div>
                            <div class="col-md-2">
                                <p>2,000.00</p>
                                <hr class="hrLine">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-1">S4</div>
                            <div class="col-md-3">
                                <p>9.6%- Terror 36 <br>Months and Annual</p>
                            </div>
                            <div class="col-md-2">250.00</div>
                            <div class="col-md-2">
                                <mat-checkbox checked="true" class="checkboxvalue"></mat-checkbox>
                            </div>
                            <div class="col-md-2">
                                <p>10</p>
                                <hr class="hrLine">
                            </div>
                            <div class="col-md-2">
                                <p>2,000.00</p>
                                <hr class="hrLine">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-1">S5</div>
                            <div class="col-md-3">
                                <p>9.6%- Terror 36 <br>Months and Annual</p>
                            </div>
                            <div class="col-md-2">250.00</div>
                            <div class="col-md-2">
                                <mat-checkbox checked="true" class="checkboxvalue"></mat-checkbox>
                            </div>
                            <div class="col-md-2">
                                10
                                <hr class="hrLine">
                            </div>
                            <div class="col-md-2">
                                2,000.00
                                <hr class="hrLine">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="captal-india-finace-title">
                        <h6>Capital Hindia Finance</h6>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <p>Lot Size</p>
                        </div>
                        <div class="col-md-2">
                            <p>1</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <p>Bid Lot</p>
                        </div>
                        <div class="col-md-2">
                            <p>200</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <p>Start Date</p>
                        </div>
                        <div class="col-md-2">
                            <p>18 Nov 2018</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <p>End Date</p>
                        </div>
                        <div class="col-md-2">
                            <p>18 Nov 2018</p>
                        </div>
                    </div>
                </div>
                <button mat-raised-button matStepperNext color="accent">PROCEED</button>
            </form>
        </mat-step>

        <mat-step label="Conform Details" completed="false">
            <form>
                <div class="selectDetailHeading">
                    <h5>Confirm Your Details</h5>
                    <hr class="hrLine">
                </div>
                <div class="row ">
                    <div class="col-md-3">
                        <label for="selectInvestor">Select Investor</label>
                    </div>
                    <div class="col-md-4">
                        <label for="selectInvestor">Shruti Shetty</label>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-3">
                        <label for="selectInvestor">Depository Name</label>
                    </div>
                    <div class="col-md-4">
                        <label for="selectInvestor">NSDL</label>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-3">
                        <label for="selectInvestor">Client ID/ Beneficiary No</label>
                    </div>
                    <div class="col-md-4">
                        <label for="selectInvestor">12345</label>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-3">
                        <label for="selectInvestor">PAN</label>
                    </div>
                    <div class="col-md-4">
                        <label for="selectInvestor">CTOPK123Q</label>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-3">
                        <label for="selectInvestor">Applicant Name</label>
                    </div>
                    <div class="col-md-4">
                        <label for="selectInvestor">Shruti Shetty</label>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-3">
                        <label for="selectInvestor">Email address</label>
                    </div>
                    <div class="col-md-4">
                        <label for="selectInvestor">shruti.sheety@gmail.com</label>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-3">
                        <label for="selectInvestor">Phone No</label>
                    </div>
                    <div class="col-md-4">
                        <label for="selectInvestor">7875980310</label>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-3">
                        <label for="selectInvestor">Investor Category</label>
                    </div>
                    <div class="col-md-4">
                        <label for="selectInvestor">Employee</label>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-3">
                        <label for="selectInvestor">Debit Account Number</label>
                    </div>
                    <div class="col-md-4">
                        <label for="selectInvestor">Saving-xxxxxxxx310</label>
                    </div>
                </div>



                <div class="bid-details" style="padding-top:40px;">
                    <div class="bidDetailHeading">
                        <p>Bid Details</p>
                        <hr class="hrLine">
                    </div>
                    <div class="card">
                        <div class="row">
                            <div class="col-md-3">Series</div>
                            <div class="col-md-3">Series Details</div>
                            <div class="col-md-2">Price</div>
                            <div class="col-md-2">Bid Quantity</div>
                            <div class="col-md-2">Bid Price</div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">S1</div>
                            <div class="col-md-3">
                                <p>9.6%- Terror 36 <br>Months and Annual</p>
                            </div>
                            <div class="col-md-2">250.00</div>

                            <div class="col-md-2">
                                <p>10</p>
                                <hr class="hrLine">
                            </div>
                            <div class="col-md-2">
                                <p>2,000.00</p>
                                <hr class="hrLine">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">S2</div>
                            <div class="col-md-3">
                                <p>9.6%- Terror 36 <br>Months and Annual</p>
                            </div>
                            <div class="col-md-2">250.00</div>

                            <div class="col-md-2">
                                <p>10</p>
                                <hr class="hrLine">
                            </div>
                            <div class="col-md-2">
                                <p>2,000.00</p>
                                <hr class="hrLine">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">S3</div>
                            <div class="col-md-3">
                                <p>9.6%- Terror 36 <br>Months and Annual</p>
                            </div>
                            <div class="col-md-2">250.00</div>

                            <div class="col-md-2">
                                <p>10</p>
                                <hr class="hrLine">
                            </div>
                            <div class="col-md-2">
                                <p>2,000.00</p>
                                <hr class="hrLine">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <p>Total Bid Amount</p>
                        </div>
                        <div class="col-md-3">
                            Rs. 6,000.00
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9 infoDpId">
                            <p class="msg"><span><i class="fa fa-exclamation-circle" aria-hidden="true"></i></span>This Amount will be blocked from your operative account via ASBA lien marking</p>
                        </div>
                    </div>
                </div>
                <button mat-raised-button matStepperNext color="accent">PROCEED</button>
            </form>
        </mat-step>



        <mat-step label="OTP Details" completed="false">
            <form>
                <div class="selectDetailHeading">
                    <h5>Confirm Your Details</h5>
                    <hr class="hrLine">
                </div>
                <div class="row ">
                    <div class="col-md-3">
                        <label for="selectInvestor">Select Investor</label>
                    </div>
                    <div class="col-md-4">
                        <label for="selectInvestor">Shruti Shetty</label>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-3">
                        <label for="selectInvestor">Depository Name</label>
                    </div>
                    <div class="col-md-4">
                        <label for="selectInvestor">NSDL</label>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-3">
                        <label for="selectInvestor">Client ID/ Beneficiary No</label>
                    </div>
                    <div class="col-md-4">
                        <label for="selectInvestor">12345</label>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-3">
                        <label for="selectInvestor">PAN</label>
                    </div>
                    <div class="col-md-4">
                        <label for="selectInvestor">CTOPK123Q</label>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-3">
                        <label for="selectInvestor">Applicant Name</label>
                    </div>
                    <div class="col-md-4">
                        <label for="selectInvestor">Shruti Shetty</label>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-3">
                        <label for="selectInvestor">Email address</label>
                    </div>
                    <div class="col-md-4">
                        <label for="selectInvestor">shruti.sheety@gmail.com</label>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-3">
                        <label for="selectInvestor">Phone No</label>
                    </div>
                    <div class="col-md-4">
                        <label for="selectInvestor">7875980310</label>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-3">
                        <label for="selectInvestor">Investor Category</label>
                    </div>
                    <div class="col-md-4">
                        <label for="selectInvestor">Employee</label>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-3">
                        <label for="selectInvestor">Debit Account Number</label>
                    </div>
                    <div class="col-md-4">
                        <label for="selectInvestor">Saving-xxxxxxxx310</label>
                    </div>
                </div>



                <div class="bid-details" style="padding-top:40px;">
                    <div class="bidDetailHeading">
                        <p>Bid Details</p>
                        <hr class="hrLine">
                    </div>
                    <div class="card">
                        <div class="row">
                            <div class="col-md-3">Series</div>
                            <div class="col-md-3">Series Details</div>
                            <div class="col-md-2">Price</div>
                            <div class="col-md-2">Bid Quantity</div>
                            <div class="col-md-2">Bid Price</div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">S1</div>
                            <div class="col-md-3">
                                <p>9.6%- Terror 36 <br>Months and Annual</p>
                            </div>
                            <div class="col-md-2">250.00</div>

                            <div class="col-md-2">
                                <p>10</p>
                                <hr class="hrLine">
                            </div>
                            <div class="col-md-2">
                                <p>2,000.00</p>
                                <hr class="hrLine">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">S2</div>
                            <div class="col-md-3">
                                <p>9.6%- Terror 36 <br>Months and Annual</p>
                            </div>
                            <div class="col-md-2">250.00</div>

                            <div class="col-md-2">
                                <p>10</p>
                                <hr class="hrLine">
                            </div>
                            <div class="col-md-2">
                                <p>2,000.00</p>
                                <hr class="hrLine">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">S3</div>
                            <div class="col-md-3">
                                <p>9.6%- Terror 36 <br>Months and Annual</p>
                            </div>
                            <div class="col-md-2">250.00</div>

                            <div class="col-md-2">
                                <p>10</p>
                                <hr class="hrLine">
                            </div>
                            <div class="col-md-2">
                                <p>2,000.00</p>
                                <hr class="hrLine">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <p>Total Bid Amount</p>
                        </div>
                        <div class="col-md-3">
                            Rs. 6,000.00
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9 infoDpId">
                            <p class="msg"><span><i class="fa fa-exclamation-circle" aria-hidden="true"></i></span>This Amount will be blocked from your operative account via ASBA lien marking</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <button mat-raised-button matStepperNext color="accent">CONFIRM</button>
                        </div>
                        <div class="col-md-3">
                            <button mat-raised-button matStepperNext color="accent">EDIT</button>
                        </div>
                        <hr class="hrLine">
                    </div>
                    <div class="row">
                        <p>You will receive OTP on your registered mobile number xxxxxxx310</p>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Enter the OTP">
                            </mat-form-field>
                        </div>
                        <div class="otpmessage">
                            <p>didn't recieve the OTP?<span>Resend OTP</span>or <span>Get OTP on Call</span></p>
                        </div>
                    </div>
                </div>

                <button mat-raised-button matStepperNext color="accent">SUBMIT</button>
            </form>
        </mat-step>
        <mat-step label="Recept Details" completed="false">
            <form>
                <div class="selectDetailHeading">
                    <h5>Request Summary</h5>
                    <hr class="hrLine">
                </div>
                <div class="row ">
                    <div class="col-md-3">
                        <label for="selectInvestor">Select Investor</label>
                    </div>
                    <div class="col-md-4">
                        <label for="selectInvestor">Shruti Shetty</label>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-3">
                        <label for="selectInvestor">Depository Name</label>
                    </div>
                    <div class="col-md-4">
                        <label for="selectInvestor">NSDL</label>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-3">
                        <label for="selectInvestor">Client ID/ Beneficiary No</label>
                    </div>
                    <div class="col-md-4">
                        <label for="selectInvestor">12345</label>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-3">
                        <label for="selectInvestor">PAN</label>
                    </div>
                    <div class="col-md-4">
                        <label for="selectInvestor">CTOPK123Q</label>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-3">
                        <label for="selectInvestor">Applicant Name</label>
                    </div>
                    <div class="col-md-4">
                        <label for="selectInvestor">Shruti Shetty</label>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-3">
                        <label for="selectInvestor">Email address</label>
                    </div>
                    <div class="col-md-4">
                        <label for="selectInvestor">shruti.sheety@gmail.com</label>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-3">
                        <label for="selectInvestor">Phone No</label>
                    </div>
                    <div class="col-md-4">
                        <label for="selectInvestor">7875980310</label>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-3">
                        <label for="selectInvestor">Investor Category</label>
                    </div>
                    <div class="col-md-4">
                        <label for="selectInvestor">Employee</label>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-3">
                        <label for="selectInvestor">Debit Account Number</label>
                    </div>
                    <div class="col-md-4">
                        <label for="selectInvestor">Saving-xxxxxxxx310</label>
                    </div>
                </div>



                <div class="bid-details" style="padding-top:40px;">
                    <div class="bidDetailHeading">
                        <p>Bid Details</p>
                        <hr class="hrLine">
                    </div>
                    <div class="card">
                        <div class="row">
                            <div class="col-md-3">Series</div>
                            <div class="col-md-3">Series Details</div>
                            <div class="col-md-2">Price</div>
                            <div class="col-md-2">Bid Quantity</div>
                            <div class="col-md-2">Bid Price</div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">S1</div>
                            <div class="col-md-3">
                                <p>9.6%- Terror 36 <br>Months and Annual</p>
                            </div>
                            <div class="col-md-2">250.00</div>

                            <div class="col-md-2">
                                <p>10</p>
                                <hr class="hrLine">
                            </div>
                            <div class="col-md-2">
                                <p>2,000.00</p>
                                <hr class="hrLine">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">S2</div>
                            <div class="col-md-3">
                                <p>9.6%- Terror 36 <br>Months and Annual</p>
                            </div>
                            <div class="col-md-2">250.00</div>

                            <div class="col-md-2">
                                <p>10</p>
                                <hr class="hrLine">
                            </div>
                            <div class="col-md-2">
                                <p>2,000.00</p>
                                <hr class="hrLine">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">S3</div>
                            <div class="col-md-3">
                                <p>9.6%- Terror 36 <br>Months and Annual</p>
                            </div>
                            <div class="col-md-2">250.00</div>

                            <div class="col-md-2">
                                <p>10</p>
                                <hr class="hrLine">
                            </div>
                            <div class="col-md-2">
                                <p>2,000.00</p>
                                <hr class="hrLine">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <p>Total Bid Amount</p>
                        </div>
                        <div class="col-md-3">
                            Rs. 6,000.00
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9 infoDpId">
                            <p class="msg"><span><i class="fa fa-exclamation-circle" aria-hidden="true"></i></span>This Amount will be blocked from your operative account via ASBA lien marking</p>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-3">
                        <button mat-raised-button matStepperNext color="accent" class="receiptButton">BACK TO HOME</button>
                    </div>
                    <div class="col-md-3">
                        <button mat-raised-button matStepperNext color="accent" class="receiptButton">TRACK REQUEST</button>
                    </div>
                </div>

            </form>
        </mat-step>
    </mat-horizontal-stepper>
</div>
