<div class="container">
    <div class="heading">
        <h3>Apply for Equity IPO</h3>
    </div>
    <mat-horizontal-stepper labelPosition="bottom">
        <mat-step label="Enter Details" completed="false">
            <form>
                <div class="selectDetailHeading">
                    <h5>Select Your Details</h5>
                    <hr class="hrLine">
                </div>
                <div class="row ">
                    <div class="col-md-3">
                        <label for="selectInvestor">Select Investor</label>
                    </div>
                    <div class="col-md-2">
                        <mat-select name="" id="">
                            <mat-option value="">Shruti Shetty</mat-option>
                            <mat-option value="">Sainath Kannake</mat-option>
                        </mat-select>
                    </div>
                    <div class="col-md-3">
                        <p>View Investor Details</p>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-3">
                        <label for="selectInvestor">Investor Category</label>
                    </div>
                    <div class="col-md-2">
                        <mat-select name="" id="">
                            <mat-option value="">Employees</mat-option>
                            <mat-option value="">Employees</mat-option>
                        </mat-select>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-3">
                        <label for="selectInvestor">Debit Account Number</label>
                    </div>
                    <div class="col-md-2">
                        <mat-select name="" id="">
                            <mat-option value="">Saving-xxxxxxxxxxx7485</mat-option>
                            <mat-option value="">Current-xxxxxxxxxx8569</mat-option>
                        </mat-select>
                    </div>
                    <div class="col-md-3">
                        <p>Rupee 1,00,000.00</p>
                    </div>
                </div>
                <div class="bid-details">
                    <div class="bidDetailHeading">
                        <p>Bid Details</p>
                        <hr class="hrLine">
                    </div>
                    <div class="row">
                        <div class="col-md-2">Multiple of Bid Lot</div>
                        <div class="col-md-2">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Enter Bid Lot">
                            </mat-form-field>
                        </div>
                        <div class="col-md-2">Bid Price</div>
                        <div class="col-md-2">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Enter Price">
                            </mat-form-field>
                        </div>
                        <div class="col-md-1">
                            <mat-checkbox checked="true" class="checkboxvalue"></mat-checkbox>
                        </div>
                        <div class="col-md-2">
                            <p>Cut Off Price</p>
                        </div>
                        <div class="col-md-1">
                            <p class="addbtn"><span><i class="fa fa-plus-circle" aria-hidden="true"></i></span>Add</p>
                        </div>
                    </div>

                </div>
                <div class="card">
                    <div class="captal-india-finace-title">
                        <h6>Capital Hindia Finance</h6>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <p>Lot Size</p>
                        </div>
                        <div class="col-md-2">
                            <p>1</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <p>Bid Lot</p>
                        </div>
                        <div class="col-md-2">
                            <p>200</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <p>Start Date</p>
                        </div>
                        <div class="col-md-2">
                            <p>18 Nov 2018</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <p>End Date</p>
                        </div>
                        <div class="col-md-2">
                            <p>18 Nov 2018</p>
                        </div>
                    </div>
                </div>
                <button mat-raised-button matStepperNext color="accent">PROCEED</button>
            </form>


        </mat-step>

        <mat-step label="Conform Details" completed="false">
            <form>
                <div class="selectDetailHeading">
                    <h5>Confirm Your Details</h5>
                    <hr class="hrLine">
                </div>
                <div class="row ">
                    <div class="col-md-3">
                        <label for="selectInvestor">Select Investor</label>
                    </div>
                    <div class="col-md-4">
                        <label for="selectInvestor">Shruti Shetty</label>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-3">
                        <label for="selectInvestor">Depository Name</label>
                    </div>
                    <div class="col-md-4">
                        <label for="selectInvestor">NSDL</label>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-3">
                        <label for="selectInvestor">Client ID/ Beneficiary No</label>
                    </div>
                    <div class="col-md-4">
                        <label for="selectInvestor">12345</label>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-3">
                        <label for="selectInvestor">PAN</label>
                    </div>
                    <div class="col-md-4">
                        <label for="selectInvestor">CTOPK123Q</label>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-3">
                        <label for="selectInvestor">Applicant Name</label>
                    </div>
                    <div class="col-md-4">
                        <label for="selectInvestor">Shruti Shetty</label>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-3">
                        <label for="selectInvestor">Email address</label>
                    </div>
                    <div class="col-md-4">
                        <label for="selectInvestor">shruti.sheety@gmail.com</label>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-3">
                        <label for="selectInvestor">Phone No</label>
                    </div>
                    <div class="col-md-4">
                        <label for="selectInvestor">7875980310</label>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-3">
                        <label for="selectInvestor">Investor Category</label>
                    </div>
                    <div class="col-md-4">
                        <label for="selectInvestor">Employee</label>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-3">
                        <label for="selectInvestor">Debit Account Number</label>
                    </div>
                    <div class="col-md-4">
                        <label for="selectInvestor">Saving-xxxxxxxx310</label>
                    </div>
                </div>



                <div class="bid-details" style="padding-top:40px;">
                    <div class="bidDetailHeading">
                        <p>Bid Details</p>
                        <hr class="hrLine">
                    </div>
                    <div class="row bid-Details">
                        <div class="col-md-3">Multiple of Bid Lot</div>
                        <div class="col-md-3">30</div>
                        <div class="col-md-3">Bid Price</div>
                        <div class="col-md-3">RS 2,000.00</div>
                    </div>
                    <div class="row bid-Details">
                        <div class="col-md-3">Multiple of Bid Lot</div>
                        <div class="col-md-3">60</div>
                        <div class="col-md-3">Bid Price</div>
                        <div class="col-md-3">RS 4,000.00</div>
                    </div>
                    <div class="row bid-Details">
                        <div class="col-md-3">Total Bid Amount</div>
                        <div class="col-md-3">Rs 6,000.00</div>
                    </div>
                    <div class="row bid-Details">
                        <div class="col-md-3">Discount Rate</div>
                        <div class="col-md-3">10%</div>
                    </div>
                    <div class="row bid-Details">
                        <div class="col-md-3">Discount Amount</div>
                        <div class="col-md-3">Rs 6,00.00</div>
                    </div>
                    <div class="row bid-Details">
                        <div class="col-md-3">Total Bid Amount<br> With Discount</div>
                        <div class="col-md-3">Rs 5,400.00</div>
                    </div>
                    <div class="row message">
                        <div class="col-md-9 infoDpId">
                            <p class="msg"><span><i class="fa fa-exclamation-circle" aria-hidden="true"></i></span>This Amount will be blocked from your operative account via ASBA lien marking</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <button mat-raised-button matStepperNext color="accent">CONFIRM</button>
                    </div>
                    <div class="col-md-3">
                        <button mat-raised-button matStepperNext color="accent">EDIT</button>
                    </div>
                    <hr class="hrLine">
                </div>


            </form>
        </mat-step>
        <mat-step label="OTP Details" completed="false">
            <form>
                <div class="selectDetailHeading">
                    <h5>Confirm Your Details</h5>
                    <hr class="hrLine">
                </div>
                <div class="row ">
                    <div class="col-md-3">
                        <label for="selectInvestor">Select Investor</label>
                    </div>
                    <div class="col-md-4">
                        <label for="selectInvestor">Shruti Shetty</label>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-3">
                        <label for="selectInvestor">Depository Name</label>
                    </div>
                    <div class="col-md-4">
                        <label for="selectInvestor">NSDL</label>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-3">
                        <label for="selectInvestor">Client ID/ Beneficiary No</label>
                    </div>
                    <div class="col-md-4">
                        <label for="selectInvestor">12345</label>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-3">
                        <label for="selectInvestor">PAN</label>
                    </div>
                    <div class="col-md-4">
                        <label for="selectInvestor">CTOPK123Q</label>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-3">
                        <label for="selectInvestor">Applicant Name</label>
                    </div>
                    <div class="col-md-4">
                        <label for="selectInvestor">Shruti Shetty</label>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-3">
                        <label for="selectInvestor">Email address</label>
                    </div>
                    <div class="col-md-4">
                        <label for="selectInvestor">shruti.sheety@gmail.com</label>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-3">
                        <label for="selectInvestor">Phone No</label>
                    </div>
                    <div class="col-md-4">
                        <label for="selectInvestor">7875980310</label>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-3">
                        <label for="selectInvestor">Investor Category</label>
                    </div>
                    <div class="col-md-4">
                        <label for="selectInvestor">Employee</label>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-3">
                        <label for="selectInvestor">Debit Account Number</label>
                    </div>
                    <div class="col-md-4">
                        <label for="selectInvestor">Saving-xxxxxxxx310</label>
                    </div>
                </div>



                <div class="bid-details" style="padding-top:40px;">
                    <div class="bidDetailHeading">
                        <p>Bid Details</p>
                        <hr class="hrLine">
                    </div>
                    <div class="row bid-Details">
                        <div class="col-md-3">Multiple of Bid Lot</div>
                        <div class="col-md-3">30</div>
                        <div class="col-md-3">Bid Price</div>
                        <div class="col-md-3">RS 2,000.00</div>
                    </div>
                    <div class="row bid-Details">
                        <div class="col-md-3">Multiple of Bid Lot</div>
                        <div class="col-md-3">60</div>
                        <div class="col-md-3">Bid Price</div>
                        <div class="col-md-3">RS 4,000.00</div>
                    </div>
                    <div class="row bid-Details">
                        <div class="col-md-3">Total Bid Amount</div>
                        <div class="col-md-3">Rs 6,000.00</div>
                    </div>
                    <div class="row bid-Details">
                        <div class="col-md-3">Discount Rate</div>
                        <div class="col-md-3">10%</div>
                    </div>
                    <div class="row bid-Details">
                        <div class="col-md-3">Discount Amount</div>
                        <div class="col-md-3">Rs 6,00.00</div>
                    </div>
                    <div class="row bid-Details">
                        <div class="col-md-3">Total Bid Amount<br> With Discount</div>
                        <div class="col-md-3">Rs 5,400.00</div>
                    </div>
                    <div class="row message">
                        <div class="col-md-9 infoDpId">
                            <p class="msg"><span><i class="fa fa-exclamation-circle" aria-hidden="true"></i></span>This Amount will be blocked from your operative account via ASBA lien marking</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <button mat-raised-button matStepperNext color="accent">CONFIRM</button>
                    </div>
                    <div class="col-md-3">
                        <button mat-raised-button matStepperNext color="accent">EDIT</button>
                    </div>
                    <hr class="hrLine">
                </div>

                <div class="row otp-message">
                    <p>You will receive OTP on your registered mobile number xxxxxxx310</p>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Enter the OTP">
                        </mat-form-field>
                    </div>
                    <div class="otp-message">
                        <p>didn't recieve the OTP?<span class="para-color"> Resend OTP </span> or <span class="para-color"> Get OTP on Call</span></p>
                    </div>
                </div>
            </form>
        </mat-step>
        <mat-step label="Recept Details" completed="false">
            <form>
                <div class="container">
                    <div class="requestNumber row">
                        <span class="thumbsUp"><i class="fa fa-thumbs-up fa-2x"></i></span>
                        <p class="receiptNote">HSBA registration hs been completed.The request number is xxxxxx</p>
                    </div>

                    <div class="selectDetailHeading">
                        <h5>Request Summary</h5>
                        <hr class="hrLine">
                    </div>
                    <div class="row ">
                        <div class="col-md-3">
                            <label for="selectInvestor">Select Investor</label>
                        </div>
                        <div class="col-md-4">
                            <label for="selectInvestor">Shruti Shetty</label>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-3">
                            <label for="selectInvestor">Depository Name</label>
                        </div>
                        <div class="col-md-4">
                            <label for="selectInvestor">NSDL</label>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-3">
                            <label for="selectInvestor">Client ID/ Beneficiary No</label>
                        </div>
                        <div class="col-md-4">
                            <label for="selectInvestor">12345</label>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-3">
                            <label for="selectInvestor">PAN</label>
                        </div>
                        <div class="col-md-4">
                            <label for="selectInvestor">CTOPK123Q</label>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-3">
                            <label for="selectInvestor">Applicant Name</label>
                        </div>
                        <div class="col-md-4">
                            <label for="selectInvestor">Shruti Shetty</label>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-3">
                            <label for="selectInvestor">Email address</label>
                        </div>
                        <div class="col-md-4">
                            <label for="selectInvestor">shruti.sheety@gmail.com</label>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-3">
                            <label for="selectInvestor">Phone No</label>
                        </div>
                        <div class="col-md-4">
                            <label for="selectInvestor">7875980310</label>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-3">
                            <label for="selectInvestor">Investor Category</label>
                        </div>
                        <div class="col-md-4">
                            <label for="selectInvestor">Employee</label>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-3">
                            <label for="selectInvestor">Debit Account Number</label>
                        </div>
                        <div class="col-md-4">
                            <label for="selectInvestor">Saving-xxxxxxxx310</label>
                        </div>
                    </div>
                    <div class="bid-details" style="padding-top:40px;">
                        <div class="bidDetailHeading">
                            <p>Bid Details</p>
                            <hr class="hrLine">
                        </div>
                        <div class="row bid-Details">
                            <div class="col-md-3">Multiple of Bid Lot</div>
                            <div class="col-md-3">30</div>
                            <div class="col-md-3">Bid Price</div>
                            <div class="col-md-3">RS 2,000.00</div>
                        </div>
                        <div class="row bid-Details">
                            <div class="col-md-3">Multiple of Bid Lot</div>
                            <div class="col-md-3">60</div>
                            <div class="col-md-3">Bid Price</div>
                            <div class="col-md-3">RS 4,000.00</div>
                        </div>
                        <div class="row bid-Details">
                            <div class="col-md-3">Total Bid Amount</div>
                            <div class="col-md-3">Rs 6,000.00</div>
                        </div>
                        <div class="row bid-Details">
                            <div class="col-md-3">Discount Rate</div>
                            <div class="col-md-3">10%</div>
                        </div>
                        <div class="row bid-Details">
                            <div class="col-md-3">Discount Amount</div>
                            <div class="col-md-3">Rs 6,00.00</div>
                        </div>
                        <div class="row bid-Details">
                            <div class="col-md-3">Total Bid Amount<br> With Discount</div>
                            <div class="col-md-3">Rs 5,400.00</div>
                        </div>
                        <div class="row message">
                            <div class="col-md-9 infoDpId">
                                <p class="msg"><span class="symbol-exCircle"><i class="fa fa-exclamation-circle" aria-hidden="true"></i></span>This Amount will be blocked from your operative account via ASBA lien marking</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <button mat-raised-button matStepperNext color="accent" class="receiptButton">BACK TO HOME</button>
                        </div>
                        <div class="col-md-3">
                            <button mat-raised-button matStepperNext color="accent" class="receiptButton">TRACK REQUEST</button>
                        </div>
                    </div>
                </div>
            </form>
        </mat-step>
    </mat-horizontal-stepper>
</div>
