<div class="container ">
    <form (ngSubmit)="onSubmit()">
        <div class="heading">
            <h5> Investor details</h5>
            <hr />
        </div>
        <div class="row">
            <div class="col-md-6">
                <mat-label>Depository Name</mat-label>
            </div>
            <div class="col-md-6">
                <mat-label>{{otpdata.dpName}}</mat-label>
            </div>

        </div>

        <div class="row">
            <div class="col-md-6">
                <mat-label>DP ID</mat-label>
            </div>
            <div class="col-md-6">
                <mat-label>{{otpdata.dpId}}</mat-label>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <mat-label>ClientID/Beneficiary ID</mat-label>
            </div>
            <div class="col-md-6">
                <mat-label>{{otpdata.clientId}}</mat-label>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <mat-label>PAN</mat-label>
            </div>
            <div class="col-md-6">
                <mat-label>{{otpdata.pan}}</mat-label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <mat-label>Investor Name</mat-label>
            </div>
            <div class="col-md-6">
                <mat-label>{{otpdata.investorName}}</mat-label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <mat-label>Email address</mat-label>
            </div>
            <div class="col-md-6">
                <mat-label>{{otpdata.email}}</mat-label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <mat-label>Mobile Number</mat-label>
            </div>
            <div class="col-md-6">
                <mat-label>{{otpdata.mob}}</mat-label>
            </div>
        </div>
        <div class="example-button-row row">
            <div class="col-md-2">
                <button mat-raised-button color="accent">
          CONFIRM
    </button>
            </div>
            <div class="">
                <button mat-raised-button color="accent">
          EDIT
    </button>
            </div>
        </div>
        <hr/>
        <div class="row">
            <h5>You will recieve an OTP on your registered mobile number xxxxxxx310</h5>
        </div>
        <div class="row">
            <div class="col-md-3">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Enter the OTP">
                </mat-form-field>
            </div>
            <div class="otpmessage">
                <p>didn't recieve the OTP?<span>Resend OTP</span>or <span>Get OTP on Call</span></p>
            </div>
        </div>
        <div class=row>
            <button type="submit" matStepperNext mat-raised-button color="accent" class="submitbutton">SUBMIT</button>
        </div>
    </form>
</div>