<!-- <form #f="ngForm" (ngSubmit)="Login(f)" class="loginform">
    <div class="form-group">
        <label for="username">UserName</label>
        <input type="text" id="username" name="username" class="form-control" ngModel>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" class="form-control" ngModel>
    </div>
    <button type="submit" class="btn btn-primary center-block">Login</button>
</form> -->
<!-- <button class='btn btn-primary' (click)="valueChanged()">Click me</button> -->