<div class="container">
  <div class="row">
    <div class="heading">
      <h5 class="title">Equity IPOs</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 msg">
      <p class="msg-des">Cuurently you are not applied for any IPOs.</p>
    </div>
  </div>
  <div class="row">
    <div class="heading">
      <h5 class="title">Debt IPOs</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 msg">
      <p class="msg-des">Cuurently you are not applied for any IPOs.</p>
    </div>
  </div>
</div>
