.investButton {
    padding: 20px;
}

.backtohomeButton {
    padding: 20px;
}

.requestNumber {
    border-radius: 10px;
    background-color: lightgreen;
    width: 700px;
    margin: 0px 0px 20px 20px;
}

.receiptNote {
    font-size: 15px;
    padding: 10px;
    word-spacing: 1px;
}

.thumbsUp {
    padding: 10px;
}
