<div class="container ">
    <div class="requestNumber row">
        <span class="thumbsUp"><i class="fa fa-thumbs-up"></i></span>
        <p class="receiptNote">HSBA registration hs been completed.The request number is xxxxxx</p>
    </div>
    <div class="heading">
        <h5>Request Sammary </h5>
        <hr />
    </div>
    <div class="row">
        <div class="col-md-6">
            <mat-label>Depository Name</mat-label>
        </div>
        <div class="col-md-6">
            <mat-label>{{receiptdata.dpName}}</mat-label>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <mat-label>DP ID</mat-label>
        </div>
        <div class="col-md-6">
            <mat-label>{{receiptdata.dpId}}</mat-label>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <mat-label>ClientID/Beneficiary ID</mat-label>
        </div>
        <div class="col-md-6">
            <mat-label>{{receiptdata.clientId}}</mat-label>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <mat-label>PAN</mat-label>
        </div>
        <div class="col-md-6">
            <mat-label>{{receiptdata.pan}}</mat-label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <mat-label>Investor Name</mat-label>
        </div>
        <div class="col-md-6">
            <mat-label>{{receiptdata.investorName}}</mat-label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <mat-label>Email address</mat-label>
        </div>
        <div class="col-md-6">
            <mat-label>{{receiptdata.email}}</mat-label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <mat-label>Mobile Number</mat-label>
        </div>
        <div class="col-md-6">
            <mat-label>{{receiptdata.email}}</mat-label>
        </div>
    </div>
    <div class="example-button-row row">
        <div class="col-md-2 investButton">
            <button mat-raised-button color="accent">
                  INVEST NOW
            </button>
        </div>
        <div class="backtohomeButton">
            <button mat-raised-button color="accent">
          BACK TO HOME
    </button>
        </div>

    </div>
</div>