<div class="container">
  <div class="row">
    <div class="col-md-12 ">
      <h4 class="bid-Title">Bid Details</h4>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <form>
        <div class="form-label">
          <div>
            <label>Multiple of Bid Lot</label>
          </div>
          <div>
            <label>Multiple of Bid Lot</label>
          </div>
          <div>
            <label>Total Bid Amount</label>
          </div>
          <div>
            <label>Discount Rate</label>
          </div>
          <div>
            <label>PAN</label>
          </div>
          <div>
            <label>Total Bid Amount With Discount</label>
          </div>
        </div>
      </form>
    </div>

    <div class="col-md-3">
      <form>
        <div class="form-label">
          <div>
            <label>30</label>
          </div>
          <div>
            <label>30</label>
          </div>
          <div>
            <label><span>&#8377;</span>4,000.00</label>
          </div>
          <div>
            <label>10%</label>
          </div>
          <div>
            <label></label>
          </div>
          <div>
            <label><span>&#8377;</span>3,600.00</label>
          </div>
        </div>
      </form>
    </div>

    <div class="col-md-3">
      <form>
        <div class="form-label">
          <div>
            <label>Bid Price</label>
          </div>
          <div>
            <label>Bid Price</label>
          </div>
        </div>
      </form>
    </div>
    <div>
      <form>
        <div class="form-label">
          <div>
            <label><span>&#8377;</span>2,000.00</label>
          </div>
          <div>
            <label><span>&#8377;</span>2,600.00</label>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 short-msg">
        <p short-msg1> <span><i class="fa fa-exclamation-circle"></i></span>This amount will be releise from ASBA lien marked on Your operative amount within 2 working days</p>
    </div>

  </div>
</div>
