<nav class="navbar navbar-default navbar-expand-lg bg-light">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="logo-box">
                <a routerLink=""><img class="logo" src="../../assets/axis_logo.png" alt=""></a>
            </div>
        </div>
        <div>
            <ul class="nav navbar-nav navbar-righ">
                <li class="p-2"><a href="#"><i class='fa fa-search'></i></a></li>
                <li class="p-2"><a href="#"><i class="fa fa-bell"></i></a></li>
                <li class="p-2"><a routerLink="login">Login</a></li>
                <li class="p-2"><a routerLink="/ipo" routerLinkActive="active">IPOs</a></li>
                <li class="p-2"><a routerLink="/apply-ipos" routerLinkActive="active">ApplyIPOs</a></li>
                <li class="p-2"><a routerLink="/registration" routerLinkActive="active">HSBAregistration</a></li>
            </ul>
        </div>
    </div>
</nav>