<h3>Initial Public Offering(IPOs)</h3>
<mat-tab-group>
    <mat-tab class="titlelabel" label=" AVAILABLE IPOs">
        <available-ipos></available-ipos>
    </mat-tab>
    <mat-tab class="titlelabel" label="APPLIED IPOs">
        <applied-ipos></applied-ipos>
    </mat-tab>
    <mat-tab class="titlelabel" label="SERVICES">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="heading">
                        <li>Investor Details</li>
                        <li routerLink="/enterdetails" routerLinkActive="active">HSBA Registration</li>
                    </ul>
                </div>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>