<div class="container">
    <div class="heading">
        <h5>HSBA Registration</h5>
    </div>
    <div class="tab">
        <div class="row">
            <div class="col-md-3">
                <div class="">
                    <a class="number" href="">1</a>
                    <span class="line"></span>
                    <p class="enterDetails">Enter Details</p>
                </div>
            </div>
            <div class="col-md-3">
                <a class="number " href="">2</a>
                <span class="line"></span>
                <p class="confirmDetail">Confirm Details</p>
            </div>
            <div class="col-md-3">
                <a class="number " href="">3</a>
                <span class="line"></span>
                <p class="enterotp">Enter OTP</p>
            </div>
            <div class="col-md-3">
                <a class="number " href="">4</a>
                <p class="reciept">Reciept</p>
            </div>
        </div>
    </div>
</div>




<!-- <receipt></receipt> -->
<!-- <enterotp></enterotp> -->

<enterdetails (enterData)='display($event)'></enterdetails>
<!-- <confirmdetails [fromenterData]='registrationData'></confirmdetails> -->