.enterDetails {
    padding: 10px;
}

.confirmDetail {
    padding: 10px;
}

.enterotp {
    padding: 10px;
}

.reciept {
    padding: 10px;
}

.row {
    padding: 8PX;
}

.number {
    margin: 0px 0px 0px 30px;
}
