<div class="container">
  <div class="row">
    <div class="col-md-12 investorTitle">
      <h5>Investor Details</h5>
      <hr>
    </div>
  </div>
  <div class="row ">
    <div class="col-md-3">
      <form>
        <div class="form-label">
          <div>
            <label>Depository Name</label>
          </div>
          <div>
            <label>DP ID</label>
          </div>
          <div>
            <label>Client iD/beneficiary Number</label>
          </div>
          <div>
            <label>Debit Account Number</label>
          </div>
          <div>
            <label>PAN</label>
          </div>
          <div>
            <label>Investor Name</label>
          </div>
          <div>
            <label>Investor Category</label>
          </div>
          <div>
            <label>Email address</label>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-3">
      <form>
        <div class="form-label">
          <div>
            <label>CSDL</label>
          </div>
          <div>
            <label>IN123456</label>
          </div>
          <div>
            <label>123456</label>
          </div>
          <div>
            <label>Savingxxxxxx4230</label>
          </div>
          <div>
            <label>HCEKKK6789K</label>
          </div>
          <div>
            <label>Shruti Shetty</label>
          </div>
          <div>
            <label>HNI</label>
          </div>
          <div>
            <label>shruti.shetty@gmail.com</label>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
