<div class="container">
    <form  class="form-horizontal" #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div class="form-group row">
            <label class="control-label col-sm-2" for="dpName">Depository Name:</label>
            <div class="col-sm-5 form-group">
                <input type="text" id="dpName" name="dpName" ngModel class="form-control" placeholder="Enter Depository Name">
            </div>
            <div>
                <p>Enter CSDL or NSDL</p>
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-sm-2" for="dpid">DP ID</label>
            <div class="col-sm-5 form-group">
                <input id="dpid" name="dpid" ngModel class="form-control" placeholder="Enter DP ID">
            </div>
            <div class="col-md-5 infoDpId">
                <p><span><i class="fa fa-exclamation-circle" aria-hidden="true"></i></span>This is the details of your repository participant and usually start with IN</p>
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-sm-2" for="clientid">Client ID /Beneficiary No</label>
            <div class="col-sm-5 form-group">
                <input id="clientid" name="clientid" ngModel class="form-control" placeholder="Enter Client ID">
            </div>
             <div class="col-md-5 infoDpId">
                <p><span><i class="fa fa-exclamation-circle" aria-hidden="true"></i></span>This is the details of your repository participant and usually start with IN</p>
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-sm-2" for="pan">PAN</label>
            <div class="col-sm-5 form-group">
                <input id="pan" name="pan" class="form-control" ngModel placeholder="Enter PAN">
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-sm-2" for="investorName">Investor Name</label>
            <div class="col-sm-5 form-group">
                <input id="investorName" name="investorName" ngModel class="form-control" placeholder="Enter Name">
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-sm-2" for="email">Email Number</label>
            <div class="col-sm-5 form-group">
                <input id="email" name="email" class="form-control" ngModel matInput placeholder="Enter Email ID">
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-sm-2" for="mobile">Mobile Number</label>
            <div class="col-sm-5 form-group">
                <input id="mobile" name="mobile" class="form-control" ngModel placeholder="Enter Mobile No">
            </div>
        </div>
        <div class="example-button-row col-md-4 ">
            <button type="submit"  matStepperNext mat-button color="accent">PROCEED</button>
        </div>
    </form>
</div>


<!--

<div class="container ">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">

        <div class="row">
            <div class="col-md-2 label ">
                <mat-label>Depository Name</mat-label>
            </div>
            <div class="example-container col-md-4 form-group ">
                <mat-form-field>
                    <mat-select>
                        <mat-option class="form-control" name="depositoryName" value="option">
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <select class="form-control">
                <option  id="depositoryName"></option>
              </select>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2 label ">
                <mat-label for="dpid">DP ID</mat-label>
            </div>
            <div class="example-container col-md-4 form-group">
                <mat-form-field>
                    <input id="dpid" name="dpid" class="form-control" ngModel matInput placeholder="Enter DP ID">
                </mat-form-field>
            </div>
            <div class="col-md-6 infoDpId">
                <p><span><i class="fa fa-exclamation-circle" aria-hidden="true"></i></span>This is the details of your repository participant and usually start with IN</p>
            </div>
        </div>



        <div class="row">
            <div class="col-md-2 label ">
                <mat-label for="clientid">Client ID/Beneficiary No.</mat-label>
            </div>
            <div class="example-container col-md-4 form-group">
                <mat-form-field>
                    <input id="clientid" name="clientid" class="form-control" ngModel matInput placeholder="Enter Client ID">
                </mat-form-field>
            </div>
            <div class="col-md-6 infoDpId">
                <p><span><i class="fa fa-exclamation-circle" aria-hidden="true"></i></span>This is the details of your repository participant and usually start with IN</p>
            </div>
        </div>



        <div class="row">
            <div class="col-md-2 label ">
                <mat-label for="pan">PAN</mat-label>
            </div>
            <div class="example-container col-md-4 form-group">
                <mat-form-field>
                    <input id="pan" name="pan" class="form-control" ngModel matInput placeholder="Enter PAN">
                </mat-form-field>
            </div>
        </div>


        <div class="row">
            <div class="col-md-2 label ">
                <mat-label for="investorName">Investor Name</mat-label>
            </div>
            <div class="example-container col-md-4 form-group">
                <mat-form-field>
                    <input id="investorName" name="investorName" class="form-control" ngModel matInput placeholder="Enter Name">
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2 label ">
                <mat-label for="email">Email address </mat-label>
            </div>
            <div class="example-container col-md-4 form-group">
                <mat-form-field>
                    <input id="email" name="email" class="form-control" ngModel matInput placeholder="Enter Email ID">
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2 label ">
                <mat-label for="mobile">Mobile No</mat-label>
            </div>
            <div class="example-container col-md-4 form-group">
                <mat-form-field>
                    <input id="mobile" name="mobile" ngModel class="form-control" matInput placeholder="Enter Mobile No">
                </mat-form-field>
            </div>
        </div>

        <div class="example-button-row col-md-4 ">
            <button type="submit" mat-button matStepperNext mat-raised-button color="accent">PROCEED</button>
        </div>
    </form>
</div> -->