<div class="container">
      <div class="card" style="min-width: 768px">
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">
                   <h5 class="card-title">Capital India Finance</h5>
                </div>
              </div>
                <div class="row">
                      <div class="col-md-2">
                        <div>
                          <label>Lot Size</label>
                        </div>
                        <div>
                          <label>Bid Lot</label>
                        </div>
                        <div>
                          <label>Start Date</label>
                        </div>
                        <div>
                          <label>End Date</label>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div>
                          <label>1</label>
                        </div>
                        <div>
                          <label>200</label>
                        </div>
                        <div>
                          <label>18 Nov 2018</label>
                        </div>
                        <div>
                          <label>20 Nov 2018</label>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div>
                          <label>Max Price</label>
                        </div>
                        <div>
                          <label>Face Value</label>
                        </div>
                        <div>
                          <label>Min Price</label>
                        </div>
                        <div>
                          <label>Cut off price</label>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div>
                          <label><span>&#8377;</span>210</label>
                        </div>
                        <div>
                          <label><span>&#8377;</span>10</label>
                        </div>
                        <div>
                          <label><span>&#8377;</span>200</label>
                        </div>
                        <div>
                          <label><span>&#8377;</span>210</label>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div>
                          <label>Discount</label>
                        </div>
                        <div>
                          <label> Discount Category</label>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div>
                          <label>2%</label>
                        </div>
                        <div>
                          <label>Retail Investor</label>
                        </div>
                      </div>
                </div>
            </div>
  </div>
</div>
